<div class="container">
    <div class="row">
        <div class="col-xs-5">
			<div class="fonts">店詳細</div>
            <div class="image_field">
                <%= attachment_image_tag @shop, :shop_image, format: "jpeg", id: "img_prev", fallback: "no_image.jpg", class: "shop_image" %>
            </div>
            <div class= "shops-contents">
				<%= render 'admin/shops/detail', shop: @shop %>
                <br>
                <br>
				<%= link_to "編集する", edit_admin_shop_path(@shop), class: "btn" %>
			</div>
		</div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-6">
            <br>
            <br>
            <br>
            <br>
        	<%= render 'admin/raamens/index', raamens: @raamens, shop: @shop %>
        	<%= link_to "ラーメンを追加する", new_admin_shop_raamen_path(@shop,Raamen.new), class: "btn" %>
        </div>
    </div>
</div>

<style>
</style>