<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table">
        	<h1>ランキングページ</h1>
            <div class="quiz_tab">
              <%= link_to ranking_path, class: "left btn green" do %>
                お気に入りランキング
              <% end %>
              <%= link_to tenranking_path, class: "right btn" do %>
                点数ランキング
              <% end %>
            </div>
            	<% if @shop_favorites == nil %>
            		<h1>登録がありません</h1>
            	<% else %>
                    <thead>
                        <tr>
                            <th>店名</th>
                            <th>住所</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @shop_favorites.each do |shop| %>
                            <tr>
                                <td><%= link_to shop.name, shop_path(shop), class: "underline" %></td>
                                <td><%= shop.address %></td>
                                <% if shop.reviews.average(:tennsuu) == nil %>
                                    <td></td>
                                <% else %>
                                    <% star = shop.reviews.average(:tennsuu).ceil.to_s %>
                                    <% file = "star"+star+".png" %>
                                    <td><%= image_tag file, :sizw => "20*5" %></td>
                                    <td><%= shop.reviews.average(:tennsuu).round(2) %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
            	<% end %>
            </table>
            <table class="table">
            <h3>新着店舗</h3>
                    <thead>
                        <tr>
                            <th>店名</th>
                            <th>住所</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @shop_new.each do |shop| %>
                            <tr>
                                <td><%= link_to shop.name, shop_path(shop), class: "underline" %></td>
                                <td><%= shop.address %></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
        </div>
    </div>
</div>