<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
			<h2 class="section-ttl">店詳細</h2>
			<div class="flex">
				<%= render 'admin/shops/detail', shop: @shop %>
                <% if @shop.reviews.average(:tennsuu) == nil %>
                    <th></th>
                <% else %>
                    <% star = @shop.reviews.average(:tennsuu).ceil.to_s %>
                    <% file = "star"+star+".png" %>
                    <%= image_tag file, class: "star-image" %>
                    <%= @shop.reviews.average(:tennsuu).round(2) %>
                <% end %>

                <% if user_signed_in? %>
                    <% if @shop.favorited_by?(current_user) %>
                        <li>
                            <%= button_to shop_favorites_path(@shop), method: :delete do %>
                                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                                <%= @shop.favorites.count %> いいね
                            <% end %>
                        </li>
                    <% else %>
                        <li>
                            <%= button_to shop_favorites_path(@shop), method: :post do %>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <%= @shop.favorites.count %> いいね
                            <% end %>
                        </li>
                    <% end %>
                <% else %>
                    <th></th>
                <% end %>
			</div>
		</section>
	</div>
</div>
    <div class="row">
        <div class="col-xs-7 col-xs-offset-3">
            <% if @shop.reviews == nil %>
                <h2>レビューの登録はまだありません</h2>
            <% else %>
        	   <%= render 'reviews/index', reviews: @reviews, name: @shop.name %>
            <% end %>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        	<%= link_to "口コミを投稿する", shop_raamens_path(@shop), class: "btn btn-success" %>
        </div>
    </div>
</div>