<div class="container">
    <div class="row">
        <div class="col-xs-5">
			<div class = "fonts">
                店舗詳細情報
            </div>
                <div class= "shops-contents">
    				<%= render 'admin/shops/detail', shop: @shop %>
                    <div class="table">
                        <% if @shop.reviews.average(:tennsuu) == nil %>
                            <th></th>
                        <% else %>
                            <% star = @shop.reviews.average(:tennsuu).ceil.to_s %>
                            <% file = "star"+star+".png" %>
                            <%= image_tag file, class: "star-image" %>
                            <%= @shop.reviews.average(:tennsuu).round(2) %>
                        <% end %>

                        <% if user_signed_in? %>
                            <% if @shop.favorited_by?(current_user) %>
                                <li>
                                    <%= button_to shop_favorites_path(@shop), method: :delete do %>
                                        <%= image_tag "raamen.jpg", class: "raamen-favo"%>
                                        <%= @shop.favorites.count %> いいね
                                    <% end %>
                                </li>
                            <% else %>
                                <li>
                                    <%= button_to shop_favorites_path(@shop), method: :post do %>
                                        <%= image_tag "raamen.jpg", class: "raamen-favo"%>
                                        <%= @shop.favorites.count %> いいね
                                    <% end %>
                                </li>
                            <% end %>
                        <% else %>
                            <th></th>
                        <% end %>
                    </div>
                </div>
		</div>
        <div class="col-xs-7">
            <div class= "shops-contents2">
                <% if @shop.reviews == nil %>
                    <h2>レビューの登録はまだありません</h2>
                <% else %>
            	   <%= render 'reviews/index', reviews: @reviews, name: @shop.name %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
            	<%= link_to "口コミを投稿する", shop_raamens_path(@shop), class: "btn" %>
            </div>
        </div>
    </div>
</div>

<%= link_to "ルート検索", map_search_path, class: "btn", onclick: "map_search" %>
<style>
</style>
