<div class="main-container">
  <div class="container">
      <div class="row">
        <div class="col-xs-7 col-xs-offset-2">
          <%= image_tag asset_path("title.png") %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
          <div class="col-xs-5">
            <div class="search">
              <div id="search">
                <br>
                <h2>検索する</h2>
            		<tbody>
            			<tr>
                    <div class="search-box">
                      <h4>店名から選ぶ</h4>
                      <%= form_tag(search_path,:method => 'get') do %>
                        <%= text_field_tag :search %>
                        <%= submit_tag '検索', :name => nil %>
                      <% end %>
                    </div>
                  </tr>
                  <tr>
                     <div class="search-box">
                      <h4>場所から選ぶ</h4>
                      <input id="address" type="textbox">
                      <input type="button" value="検索" onclick="codeAddress()">
                    </div>
    					    </tr>
                  <tr>
                    <div class="search-box">
                      <button id="getcurrentlocation" type="button" class="clear-decoration rank_btn" >
                        <%= image_tag asset_path("move.png"), class: "move" %>  現在地から選ぶ
                      </button>
                    </div>
                  </tr>
                    <div class="search-box">
                      <%= link_to  weekly_ranking_path, class: "rank_btn" do %>
                       <%= image_tag asset_path("king.png"), class: "king" %> ランキングから選ぶ
                      <% end %>
                    </div>
                  </tr>
    				    </tbody>
              </div>
            </div>
            <%= image_tag asset_path("man.png"), class: "man" %>
          </div>
          <div class="col-xs-7">
            <div class="map-content">
              <div id='map'></div>
            </div>
          </div>
      </div>
  </div>
</div>

<style>
</style>

<script>
var currentLat = 0
var currentLng = 0
// let marker = []; // マーカーを複数表示させたいので、配列化
//サイト開いた時に出すよう
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.68123620000001, lng:139.7671248},
      zoom: 18,
});
<% @shops.each do |s| %>
  (function(){
  var contentString = "住所：<%= s.address %>"

  var marker = new google.maps.Marker({
      position:{lat: <%= s.latitude %>, lng: <%= s.longitude %>},
      map: map,
    });

  var　infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      content: '<%= link_to s.name, shop_path(s) %>' // 吹き出しに表示する内容
    });

      marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
    });
  })();
<% end %>


//現在地取得
document.getElementById('getcurrentlocation').onclick = function() {
  geoLocationInit();
}

function geoLocationInit() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, fail);
    } else {
      createMap(pyrmont);
  }
}

   // success
function success(position) {
  currentLat = position.coords.latitude;
  currentLng  = position.coords.longitude;

 var pyrmont = new google.maps.LatLng(currentLat,currentLng);

 createMap(pyrmont)

var currentMarker = new google.maps.Marker({
      position: pyrmont,
      map: map,
      icon: {
      url: '<%= asset_path("move.png") %>',
      scaledSize: new google.maps.Size(30, 30)
      },
      })
  currentMarker.setMap(map);
}

    // fail
  function fail(pyrmont) {
    createMap(pyrmont);
  }


  // map表示
function createMap(pyrmont) {
  map = new google.maps.Map(document.getElementById('map'), {
    center: pyrmont,
    zoom: 18
  });

  // var currentPos = new google.maps.LatLng(currentLat, currentLng);
  var currentMarker = new google.maps.Marker({
        position: pyrmont,
        map: map,
        icon: {
          url: '<%= asset_path("move.png") %>',
          scaledSize: new google.maps.Size(30, 30)
        },
    });
    currentMarker.setMap(map);
    <% @shops.each do |s| %>
      (onload = function(){
      var contentString = "住所：<%= s.address %>"

      var marker = new google.maps.Marker({
          position:{lat: <%= s.latitude %>, lng: <%= s.longitude %>},
          map: map,
          title: contentString
        });

      var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
          content:'<%= link_to s.name, shop_path(s) %> <input type="button" value="ここに行く" class= "go" onclick="calcRoute(<%= s.latitude %>, <%= s.longitude %>)"/> '// 吹き出しに表示する内容
        });

          marker.addListener('click', function() { // マーカーをクリックしたとき
          infoWindow.open(map, marker); // 吹き出しの表示
        });
          // ここから
      // ここまで
      })();
  <% end %>
  }
  }



function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
  var Marker = new google.maps.Marker({
          position: pyrmont,
          map: map,
          icon: {
            url: '<%= asset_path("move.png") %>',
            scaledSize: new google.maps.Size(30, 30)
          },
      });
      Marker.setMap(map);

    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
<% @shops.each do |s| %>
    (function(){
    var contentString = "住所：<%= s.address %>"

    var marker = new google.maps.Marker({
        position:{lat: <%= s.latitude %>, lng: <%= s.longitude %>},
        map: map,
        title: contentString
      });

        infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<%= link_to s.name, shop_path(s) %>' // 吹き出しに表示する内容
      });

        marker.addListener('click', function() { // マーカーをクリックしたとき
        infoWindow.open(map, marker); // 吹き出しの表示
      });
    })();
<% end %>



function calcRoute(latitude, longitude){
  var request = {
        origin: currentLat+','+currentLng, //現在地(必須)。経度緯度かテキスト入力。
        destination: latitude+','+longitude,  //目的地(必須)。経度緯度かテキスト入力。
        travelMode: google.maps.DirectionsTravelMode.WALKING, //交通手段(必須
        avoidHighways: false, //高速道路を使うかどうか。trueだと高速道路を可能な限りルートの計算から除外
        avoidTolls: false, //有料道路を使うかどうか。trueだと有料道路を可能な限りルートの計算から除外
      };
        console.log(request)
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);

        directionsService.route(request, function(response,status){
          if (status == google.maps.DirectionsStatus.OK){
        console.log(response)
          directionsDisplay.setDirections(response);
        }else{
          console.log(2)
        }
      });
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

<style>
</style>