<% if user_signed_in? %>
	<div class="container">
	    <div class="row">
	        <div class="col-xs-10 col-xs-offset-1">
	        	<div class = "fonts">
		        	マイページ
		        </div>
		        <div class="my_page-content">
		        	<table class="table">
			        	<thead>
						<tr>
							<div class="my_page_fonts">
								<th>登録名</th>
								<th>メールアドレス</th>
								<th></th>
							</div>
						</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= current_user.name %></td>
								<td><%= current_user.email %></td>
								<td><%= link_to "パスワードを変更する", edit_user_password_path, class: "detail-btn" %></td>
							</tr>
						</tbody>
					</table>
			    </div>
			</div>
		</div>
		</div>
		<br>
		<br>
	    <div class="row">
	        <div class="col-xs-6 col-xs-offset-3">
	        	<div class="my_page-content2">
	        		<%= render 'reviews/index', reviews: @reviews, name: current_user.name %>
	        	</div>
	        </div>
	    </div>
        <% else %>
			<h1>ユーザー登録、もしくはログインが必要です</h1>
			<%= link_to ' 新規登録', new_user_registration_path %>
			<%= link_to ' ログイン', new_user_session_path %>
		<% end %>
	</div>
</div>

<style>
.my_page_fonts{
	font-family: 'Kosugi', sans-serif;
}
</style>