<% if user_signed_in? %>
	<%= form_for(review, url: url) do |f| %>
		<div class="flex">
			<div>
				<%= f.label :image, "画像" %>
				<div class="imag_field">
					<%= attachment_image_tag review, :review_image, format: "jpeg", fallback: "no_image.jpg", class: "review_image" %>
					<span class="btn imag_field"><%= f.attachment_field :review_image %>画像選択</span>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= raamen.name %></td>
					</tr>
					<tr>
						<td><%= f.label :review, "レビュー" %></td>
						<td><%= f.text_area :review ,:cols => 40, :rows => 10%></td>
					</tr>
					<tr>
						<td><%= f.label :topping, "トッピング" %></td>
						<td><%= f.text_field :topping, rows: 3 %></td>
					</tr>
					<tr>
						<td><%= f.label :tennsuu, "点数" %></td>
						<td><<%= f.number_field :tennsuu, min:1, max:5 %> 点</td>
					</tr>
					<tr>
					</tr>
				</tbody>
			</table>
			<div class="flex align-center pl5">
				<%= f.submit submit, class: "btn" %>
			</div>
		</div>
	<% end %>
<% else %>
	<h1>ユーザー登録、もしくはログインが必要です</h1>
	<%= link_to ' 新規登録', new_user_registration_path %>
    <%= link_to ' ログイン', new_user_session_path %>
<% end %>

<style>
.review_image{
	cursor: pointer; 
	opacity: 0.7;
	transform: scale(1.01, 1.01);
}
</style>

