<% if review == nil %>
	<h2>レビューの登録はまだありません</h2>
<% else %>
<h2><%= shop.name %>のレビュー一覧</h2>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>レビュー</th>
				<th>点数</th>
			</tr>
		</thead>
		<tbody>
			<% review.each do |review| %>
				<tr>
					<td>
						<div class="image_field">
							<%= attachment_image_tag review, :review_image, format: "jpeg", fallback: "no_image.jpg", class: "review_image" %>
						</div>
					<td>
					<td><%= review.text %>円</td>
					<td><%= review.tennsuu %></td>
					<td><%= link_to "詳細", admin_shop_raamen_review_path(raamen,shop,review), class: "underline" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>