<!DOCTYPE html>
<html>
  <head>
    <title>RaMen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
</body>

  <body>
    <%= yield %>
  </body>
</html>
