<!DOCTYPE html>
<html>
  <head>
    <title>RaMen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='body'>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
  <footer>
  </footer>
</html>

<style>
  body { padding-top: 70px;
         padding-bottom: 70px;
   }
</style>